@page "/"
@using Microsoft.Extensions.Configuration
@using CounterStrike.Translator.MAUI.Models
@inject IConfiguration configuration

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="Test">Click me</button>



@code {


    private void Test()
    {
        var settings = configuration.GetRequiredSection("AppSettings").Get<AppSettings>();
    }
}

